# Environment files
.env
.env.*
!.env.example
.github/workflows/.env
.github/workflows/.env.*

# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/
dist/
out/

# Misc
.DS_Store
*.pem
.vercel
.turbo
